In [1]:
import os
os.remove("filme.db") if os.path.exists("filmes.db") else None

In [2]:
import sqlite3
conex = sqlite3.connect("filmes.bd")
cur2 = conex.cursor()

In [3]:
def create_tabela():
    cur2.execute('CREATE TABLE IF NOT EXISTS filmes(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, nome TEXT, diretor TEXT, estudio TEXT)')

In [4]:
def insert_datebase():
    cur2.execute("INSERT INTO filmes VALUES (1, 'Bond 25', 'Cary Fukunaga', 'Eon Productions, Metro-Goldwyn-Mayer')")
    conex.commit()
    cur2.close()
    conex.close()

In [5]:
create_tabela()
insert_database()